<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597406857066-fsiqglfodk3b8omdqvroae15p0fgs1oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597406857066-fsiqglfodk3b8omdqvroae15p0fgs1oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBOHLG8RQvh8xdSRV9lNam4fdQ1JY4octM</string>
	<key>GCM_SENDER_ID</key>
	<string>597406857066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeonghyeon.EraOfBand-iOS</string>
	<key>PROJECT_ID</key>
	<string>eraofband-5bbf4</string>
	<key>STORAGE_BUCKET</key>
	<string>eraofband-5bbf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597406857066:ios:4ee03eb3da30f922ea5713</string>
</dict>
</plist>